.forms{
    height: 100vh;
    background-color: red;
    display: flex;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-content{
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;

}
.form-content label{
    margin: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    
   
}
.form-content label input{
   width: 260px;
   height: 17px;
}
.form-content label select{
    width: 268px;
    height: 19px;
}
form legend{
    font-size: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}
input[type="button"]#btn{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
}
input#total{
    height: 30px;
}