*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Variaveis */

:root{
    --primary-color: #e4c0b8;
    --main-font: 'Righteous', cursive;
    --second-font: 'Lobster', cursive; 
}
 

/* Header */
.header{
    background-color: black;
    height: 68px;
    color: white;
    display: flex;
    align-items: center;
}
.container{
    min-width: 300px;
    width: 1280px;
    margin: auto;
}
.header-content{
    display: flex;
    justify-content: space-between;

}
.header-logo{
    display: inline-flex;
    font-size: 32px;
    font-family: var(--second-font);

}
.header-logo img{
    width: 60px;
    height: 60px;
}
.header-logo span{
    color: var(--primary-color);
}
.header-nav{
    min-width: 50px;
    width: 100px;
}
.header-nav .nav-button{
    display: none;
}
.header-nav .nav-line{
    height: 3px;
    width: 20px;
    background-color: white;
    margin: 5px 0px;
}
.header-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}






/* Media Queries */
@media (min-width: 300px)  and (max-width: 375px){
    .container{
        width: 280px;
        margin: 0 auto;

    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .header-logo img{
        width: 40px;
    }
   .header-nav{
       display: flex;

   }
   .header-nav .nav-button{
       display: block;
   }
    .header-nav ul{
    display: none;
    }
    
}