*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}


/* Variaveis */

:root{
    --primary-color: #e4c0b8;
    --main-font: 'Righteous', cursive;
    --second-font: 'Lobster', cursive; 
}
.container{
    width: 100%;
    max-width: 990px;
}

/* Header */
.logo{
    font-size: 24px;
    display: flex;
    align-items: center;
    font-family: var(--second-font);
    
}
.logo span{
    color: var(--primary-color)
}
.logo img{
    width: 50px;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 8vh; 
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    font-weight: bold;
    font-family: var(--main-font);
    cursor: pointer;
    transition: 1s;
    color: white;
}
.nav-list li:hover a{
   color: var(--primary-color);
}
.mobile-menu{
    cursor: pointer;
    display: none;
    
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
    cursor: pointer;
    
}


/* Main */

section.interface{
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}
.section-over{
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
}
.prhase{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: white;
    font-family: var(--main-font);
    text-transform: uppercase;
}
section.products{
    height: 70vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.products-title{
    font-size: 28px;
    font-weight: bold;
    font-family: var(--main-font);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bar{
    width: 8vw;
    height: 5px;
    background-color: white;
    margin-top: 15px;
}
.products-content{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px 30px;
    
}
.product{
    position: relative;
}

.product img{
    width: 100px;
    height: 100px;
   
}


.aboutus{
    height: 50vh;
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutus .container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}
.aboutus-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.aboutus-content{
    color: white;
    text-align: center;
    width: 80%;
}



@media (max-width:999px){
    body{
        overflow-x: hidden !important;
    }
  
    .nav-list{
        overflow-x: hidden;
        overflow-y: auto; 
        position: absolute;
        top: 8vh;
        right: 0px;
        width: 0px;
        height: 92vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 1s;
        color: white;
        z-index: 1;
        background-color: black;
        opacity: 0;
        
    }
   
    .list-open{
        width: 50vw;
        opacity: 1;
        
    }
    .mobile-menu{
        display: block;
        cursor: pointer;
    }
  
    
    
}